{{ define "main" }}
<div class="doc">
  {{ partial "sidebar.html" . }}
  <article class="prose" data-pagefind-body>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{- $menu := site.Menus.guides -}}
    {{- if eq .Section "project" }}{{ $menu = site.Menus.project }}{{ end -}}
    <ul class="guide-index">
      {{- range $menu }}
      <li>
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{- with .Params.blurb }}<p>{{ . }}</p>{{ end }}
      </li>
      {{- end }}
    </ul>
  </article>
</div>
{{ end }}
